/* Clears default styles */
*{
    padding: 0;
    margin: 0;
 }
 /* Navigaton bar styles */
 nav{
    background-color: black;
 }
 nav span{
    float: left;
    padding:10px 30px;
    color:white;
    background-color: green;
 }
 nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    color:white;
    list-style: none;
    padding: 10px 30px;
}
nav ul li:hover{
    background-color: green;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

/* Main content styles */
.panelContainer{
    border: 1px solid black;
    margin: 5px 10px;
    padding: 20px;
    
}
#mainContainer{
    display: flex;
}
aside{
    width: 30%;
    border: 1px solid black;
    padding:20px;
    margin: 5px 10px
}
main{
    width: 70%;
}

/* Challenge 2 CSS */
.blackBox{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin: 10px;
}
#container1{
    display: flex;
    justify-content: space-around;
}
#container2{
    display: flex;
    justify-content: flex-end;
}
#container3{
    display: flex;
    justify-content: flex-start;
}